@media screen and (max-width: 420px) {
  body {
    background: #e6f9ff;
    font-family: "Fredoka One", cursive;
  }

  .bg-name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 10% auto;
    font-size: 30px;
    max-width: 75%;
  }

  .board {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5% 0;
    border-radius: 32px;
    background: #ffffff;
    margin-bottom: 10%;
  }

  .content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bg-question {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .q {
    margin: 10% auto;
    display: block;
    max-width: 75%;
  }

  .buttons {
    display: block;
    margin: 10% auto;
    width: 80%;
  }

  .startButton {
    background: #d9d9d9;
    padding: 10%;
    width: 80%;
    border-radius: 39px;
    border: none;
    outline: none;
    font-family: "Fredoka One", cursive;
    transition: 0.5s all;
  }

  .button-1 {
    background: #d9d9d9;
    padding: 10%;
    width: 80%;
    margin-bottom: 5%;
    border-radius: 39px;
    border: none;
    outline: none;
    font-family: "Fredoka One", cursive;
    transition: 0.5s all;
  }

  .button-2 {
    background: #d9d9d9;
    padding: 10%;
    width: 80%;
    margin-bottom: 5%;
    border-radius: 39px;
    border: none;
    outline: none;
    font-family: "Fredoka One", cursive;
    transition: 0.5s all;
  }

  .button-3 {
    background: #d9d9d9;
    padding: 10%;
    width: 80%;
    margin-bottom: 5%;
    border-radius: 39px;
    border: none;
    outline: none;
    font-family: "Fredoka One", cursive;
    transition: 0.5s all;
  }

  .button-4 {
    background: #d9d9d9;
    padding: 10%;
    width: 80%;
    margin-bottom: 5%;
    border-radius: 39px;
    border: none;
    outline: none;
    font-family: "Fredoka One", cursive;
    transition: 0.5s all;
  }

  .startButton:hover,
  .button-1:hover,
  .button-2:hover,
  .button-3:hover,
  .button-4:hover {
    background: #7e7e7e;
  }

  .footer {
    display: block;
    background: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 20%;
    padding-top: 20%;
    padding-bottom: 20%;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .firma {
    text-decoration: none;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #e6f9ff;
  }
}
